<svg class="list-item-avatar" viewBox="0 0 32 32">
  <defs>
    <style>
      .avatar-baseball-blue-cls-1 {
        fill: #f2ece8;
      }

      .avatar-baseball-blue-cls-2 {
        fill: #c7944e;
      }

      .avatar-baseball-blue-cls-10, .avatar-baseball-blue-cls-11, .avatar-baseball-blue-cls-12, .avatar-baseball-blue-cls-13, .avatar-baseball-blue-cls-2 {
        stroke: #000;
      }

      .avatar-baseball-blue-cls-13, .avatar-baseball-blue-cls-2 {
        stroke-miterlimit: 10;
      }

      .avatar-baseball-blue-cls-10, .avatar-baseball-blue-cls-11, .avatar-baseball-blue-cls-12, .avatar-baseball-blue-cls-2 {
        stroke-width: 0.5px;
      }

      .avatar-baseball-blue-cls-3 {
        fill: #d1bfa9;
      }

      .avatar-baseball-blue-cls-13, .avatar-baseball-blue-cls-4 {
        fill: #dbc4b1;
      }

      .avatar-baseball-blue-cls-5 {
        fill: #d1b094;
      }

      .avatar-baseball-blue-cls-6 {
        fill: #b3967e;
      }

      .avatar-baseball-blue-cls-7 {
        fill: #69512b;
      }

      .avatar-baseball-blue-cls-8 {
        fill: #302512;
      }

      .avatar-baseball-blue-cls-9 {
        fill: #d1c8b8;
      }

      .avatar-baseball-blue-cls-10 {
        fill: #7c9dbf;
      }

      .avatar-baseball-blue-cls-10, .avatar-baseball-blue-cls-11, .avatar-baseball-blue-cls-12 {
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      .avatar-baseball-blue-cls-11 {
        fill: #3980c4;
      }

      .avatar-baseball-blue-cls-12 {
        fill: #0f2030;
      }

      .avatar-baseball-blue-cls-13 {
        stroke-width: 0.25px;
      }
      .avatar-baseball-blue-animated {
	transform: translateY(calc(-1px * var(--list-item-hover))) rotate(calc(-3deg * var(--list-item-hover)));
	transform-origin: 16px 20px;
        transition: transform 0.2s cubic-bezier(0, 2, 1, 2);
      }
      .avatar-baseball-blue-animated-hat {
	transform: translateX(calc(1px * var(--list-item-hover))) rotate(calc(5deg * var(--list-item-hover)));
	transform-origin: 16px 16px;
        transition: transform 0.2s cubic-bezier(0, 2, 1, 2);
      }
    </style>
    <clipPath id="avatar-clip">
      <circle cx="16" cy="16" r="16"/>
    </clippath>
  </defs>
  <g clip-path="url(#avatar-clip)">
    <rect class="avatar-baseball-blue-cls-1" width="32" height="32"/>
    <g class="avatar-baseball-blue-animated">
      <path class="avatar-baseball-blue-cls-2" d="M15.75,10.74c10,0,12.26,7.69,10.24,17.63S25,46.89,15.75,46.71C4.16,46.49,2.06,39.06,3.48,29.31S5.13,10.74,15.75,10.74Z"/>
      <path class="avatar-baseball-blue-cls-3" d="M15.32,22.45c5.67,1,8.41,1.95,6.43,11.54-1.36,6.63-3.69,10.34-8,10.07-5.6-.34-8.39-5.12-7.21-12.85C8,21.56,10.21,21.56,15.32,22.45Z"/>
      <path class="avatar-baseball-blue-cls-4" d="M17.23,12.91c6,.71,8,3.21,6.28,7.1-1.38,3.1-2.4,6.07-7.79,5.09C9.8,24,9.48,21.31,9,17.74,8.5,13.51,12.17,12.31,17.23,12.91Z"/>
      <path class="avatar-baseball-blue-cls-5" d="M15.72,24.27c-3.6-.44-4.64-3.95-4.86-6.47S12,14,13.29,14a6.66,6.66,0,0,1,2.84,1.37,2,2,0,0,0,1.61.3c1.08-.28,2.87-.59,3.92,0,1.55.93.06,4.38-.66,5.47S19.14,24.7,15.72,24.27Z"/>
      <path class="avatar-baseball-blue-cls-6" d="M22.21,18.27A10,10,0,0,1,21,21.19c-.63,1-1.63,3-4.31,3.12l.59-1.61A8.31,8.31,0,0,0,22.21,18.27Z"/>
      <path class="avatar-baseball-blue-cls-7" d="M17.78,23.94a2.3,2.3,0,0,1-2.15.38,2.33,2.33,0,0,1-2-1c-.38-.76,1-2.2,2.41-2S18.38,23.32,17.78,23.94Z"/>
      <g>
        <circle class="avatar-baseball-blue-cls-8" cx="12.98" cy="15.72" r="0.5"/>
        <ellipse class="avatar-baseball-blue-cls-9" cx="12.76" cy="15.61" rx="0.2" ry="0.06" transform="translate(-6.11 22.7) rotate(-71.3)"/>
      </g>
      <g>
        <circle class="avatar-baseball-blue-cls-8" cx="20.82" cy="17.12" r="0.5"/>
        <ellipse class="avatar-baseball-blue-cls-9" cx="20.6" cy="17.01" rx="0.2" ry="0.06" transform="translate(-2.11 31.07) rotate(-71.3)"/>
      </g>
      <g class="avatar-baseball-blue-animated-hat">
        <path class="avatar-baseball-blue-cls-10" d="M20.53,11.27a20.68,20.68,0,0,0-7.47.69,20.88,20.88,0,0,0-6.6,3.57S.48,16,7.53,10.8c.87-.63,4.94.39,6.52.39,6-1.15,6.48.08,6.48.08"/>
        <path class="avatar-baseball-blue-cls-11" d="M18.73,11.19h.1S18.24,8.4,16,8.63s-1.68,3-1.68,3c-.41.09-.82.19-1.23.32a20.57,20.57,0,0,0-6.6,3.58s-1.47-7,5-8.95,9.1,4.68,9.1,4.68A17.53,17.53,0,0,0,18.73,11.19Z"/>
        <path class="avatar-baseball-blue-cls-12" d="M18.83,11.18h-.14a20.28,20.28,0,0,0-4.38.45h0a3.62,3.62,0,0,1-.07-.72,21,21,0,0,1,4.37-.45A3.58,3.58,0,0,1,18.83,11.18Z"/>
      </g>
      <path class="avatar-baseball-blue-cls-13" d="M10.57,14.45S7.88,11.72,10,10.76s3.28-1,3.9,2.41"/>
      <path class="avatar-baseball-blue-cls-13" d="M23.6,16.67s3.51-1.36,2-3.06-2.54-2.2-4.47.58"/>
    </g>
  </g>
</svg>
