<svg class="list-item-avatar" viewBox="0 0 32 32">
  <defs>
    <style>
      .avatar-tie-orange-cls-1 {
        fill: #f2ece8;
      }

      .avatar-tie-orange-cls-2 {
        fill: #c7944e;
      }

      .avatar-tie-orange-cls-10, .avatar-tie-orange-cls-11, .avatar-tie-orange-cls-2 {
        stroke: #000;
      }

      .avatar-tie-orange-cls-10, .avatar-tie-orange-cls-2 {
        stroke-miterlimit: 10;
      }

      .avatar-tie-orange-cls-11, .avatar-tie-orange-cls-2 {
        stroke-width: 0.5px;
      }

      .avatar-tie-orange-cls-3 {
        fill: #d1bfa9;
      }

      .avatar-tie-orange-cls-10, .avatar-tie-orange-cls-4 {
        fill: #dbc4b1;
      }

      .avatar-tie-orange-cls-5 {
        fill: #d1b094;
      }

      .avatar-tie-orange-cls-6 {
        fill: #b3967e;
      }

      .avatar-tie-orange-cls-7 {
        fill: #69512b;
      }

      .avatar-tie-orange-cls-8 {
        fill: #302512;
      }

      .avatar-tie-orange-cls-9 {
        fill: #d1c8b8;
      }

      .avatar-tie-orange-cls-10 {
        stroke-width: 0.25px;
      }

      .avatar-tie-orange-cls-11 {
        fill: #eb9b2f;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      .avatar-tie-orange-animated {
	transform: translateY(calc(-1.5px * var(--list-item-hover))) rotate(calc(1deg * var(--list-item-hover)));
	transform-origin: 16px 20px;
        transition: transform 0.2s cubic-bezier(0, 2, 1, 2);
      }
      .avatar-tie-orange-animated-tie {
	transform: rotate(calc(-7deg * var(--list-item-hover)));
	transform-origin: 16px 22px;
        transition: transform 0.1s cubic-bezier(0, 2, 1, 2);
      }
      .avatar-tie-orange-animated-tie-2 {
	transform: rotate(calc(5deg * var(--list-item-hover)));
	transform-origin: 16px 22px;
        transition: transform 0.1s cubic-bezier(0, 2, 1, 2) 0.1s;
      }
    </style>
    <clipPath id="avatar-clip">
      <circle cx="16" cy="16" r="16"/>
    </clippath>
  </defs>
  <g clip-path="url(#avatar-clip)">
    <rect class="avatar-tie-orange-cls-1" width="32" height="32"/>
    <g class="avatar-tie-orange-animated">
      <path class="avatar-tie-orange-cls-2" d="M14.21,10C24.06,8.46,27.53,15.7,27.1,25.83s2,18.44-7.21,19.73C8.41,47.17,5.16,40.17,5,30.31S3.73,11.72,14.21,10Z"/>
      <path class="avatar-tie-orange-cls-3" d="M15.63,21.67c5.76.07,8.62.59,8.18,10.38-.3,6.76-2,10.79-6.35,11.21-5.58.55-9.09-3.73-9.15-11.55C8.24,22,10.45,21.6,15.63,21.67Z"/>
      <path class="avatar-tie-orange-cls-4" d="M16,11.94c6-.24,8.41,1.91,7.32,6-.87,3.29-1.41,6.37-6.89,6.26-6-.12-6.76-2.76-7.77-6.21C7.49,13.92,10.93,12.15,16,11.94Z"/>
      <path class="avatar-tie-orange-cls-5" d="M16.31,23.41c-3.61.12-5.2-3.17-5.81-5.63s.53-4,1.8-4.13a6.68,6.68,0,0,1,3,.91,1.92,1.92,0,0,0,1.64,0c1-.44,2.74-1,3.87-.58,1.68.68.75,4.32.22,5.51S19.76,23.29,16.31,23.41Z"/>
      <path class="avatar-tie-orange-cls-6" d="M21.78,16.46a10.08,10.08,0,0,1-.73,3.07c-.47,1.06-1.14,3.24-3.77,3.76l.33-1.68A8.28,8.28,0,0,0,21.78,16.46Z"/>
      <path class="avatar-tie-orange-cls-7" d="M18.3,22.75a2.31,2.31,0,0,1-2.06.72,2.35,2.35,0,0,1-2.09-.69c-.5-.7.67-2.34,2.06-2.35S18.79,22.05,18.3,22.75Z"/>
      <g>
        <circle class="avatar-tie-orange-cls-8" cx="12.26" cy="15.39" r="0.5"/>
        <ellipse class="avatar-tie-orange-cls-9" cx="12.03" cy="15.32" rx="0.2" ry="0.06" transform="translate(-5.08 24.62) rotate(-80.39)"/>
      </g>
      <g>
        <circle class="avatar-tie-orange-cls-8" cx="20.22" cy="15.54" r="0.5"/>
        <ellipse class="avatar-tie-orange-cls-9" cx="19.99" cy="15.46" rx="0.2" ry="0.06" transform="translate(1.41 32.59) rotate(-80.39)"/>
      </g>
      <path class="avatar-tie-orange-cls-10" d="M9.68,14.53S6.6,12.25,8.49,11s3.08-1.48,4.23,1.77"/>
      <path class="avatar-tie-orange-cls-10" d="M22.9,14.66s3.25-1.9,1.54-3.35-2.85-1.77-4.32,1.28"/>
      <g class="avatar-tie-orange-animated-tie-2">
        <g class="avatar-tie-orange-animated-tie">
          <path class="avatar-tie-orange-cls-11" d="M18.24,25.72a13,13,0,0,0-.83,1.37,8.49,8.49,0,0,0-.61,1.32l-1.94-.09A8.09,8.09,0,0,0,14.39,27a14,14,0,0,0-.7-1.45l1-.78,2.65.12Z"/>
          <polygon class="avatar-tie-orange-cls-11" points="17.9 33.5 15.53 34.72 13.29 33.28 14.86 28.32 16.8 28.41 17.9 33.5"/>
        </g>
      </g>
    </g>
  </g>
</svg>
